I4AAS-Gateway/Server/I4AAS/I4AAS.Submodels.Types.xsd

<xs:schema
  xmlns:I4AAS.IRDI="http://opcfoundation.org/UA/Dictionary/IRDI/Types.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd"
  xmlns:tns="http://opcfoundation.org/UA/I4AAS/Types.xsd"
  targetNamespace="http://opcfoundation.org/UA/I4AAS/Types.xsd"
  elementFormDefault="qualified"
>
  <xs:annotation>
    <xs:appinfo>
      <ua:Model ModelUri="http://opcfoundation.org/UA/I4AAS/" Version="2.0.0" PublicationDate="2023-07-15T00:00:00Z" />
    </xs:appinfo>
  </xs:annotation>
  
  <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd" />
  <xs:import namespace="http://opcfoundation.org/UA/Dictionary/IRDI/Types.xsd" />

  <xs:complexType name="SubmodelDataType">
    <xs:sequence>
      <xs:element name="ModelId" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="ModelIdShort" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="ModelDescription" type="ua:LocalizedText" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmodelDataType" type="tns:SubmodelDataType" />

  <xs:complexType name="ListOfSubmodelDataType">
    <xs:sequence>
      <xs:element name="SubmodelDataType" type="tns:SubmodelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSubmodelDataType" type="tns:ListOfSubmodelDataType" nillable="true"></xs:element>

  <xs:complexType name="AssetDescriptionFileDataType">
    <xs:complexContent mixed="false">
      <xs:extension base="ua:DataTypeSchemaHeader">
        <xs:sequence>
          <xs:element name="ModelId" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="ModelIdShort" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="Submodels" type="ua:ListOfExtensionObject" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetDescriptionFileDataType" type="tns:AssetDescriptionFileDataType" />

  <xs:complexType name="ListOfAssetDescriptionFileDataType">
    <xs:sequence>
      <xs:element name="AssetDescriptionFileDataType" type="tns:AssetDescriptionFileDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfAssetDescriptionFileDataType" type="tns:ListOfAssetDescriptionFileDataType" nillable="true"></xs:element>

  <xs:complexType name="NameplateSubmodelDataType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubmodelDataType">
        <xs:sequence>
          <xs:element name="URIOfTheProduct" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="ManufacturerName" type="ua:LocalizedText" minOccurs="0" nillable="true" />
          <xs:element name="ManufacturerProductDesignation" type="ua:LocalizedText" minOccurs="0" nillable="true" />
          <xs:element name="ContactInformation" type="tns:ContactInformationSubmodelDataType" minOccurs="0" nillable="true" />
          <xs:element name="ManufacturerProductRoot" type="ua:LocalizedText" minOccurs="0" nillable="true" />
          <xs:element name="ManufacturerProductFamily" type="ua:LocalizedText" minOccurs="0" nillable="true" />
          <xs:element name="ManufacturerProductType" type="ua:LocalizedText" minOccurs="0" nillable="true" />
          <xs:element name="OrderCodeOfManufacturer" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="ProductArticleNumberOfManufacturer" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="SerialNumber" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="YearOfConstruction" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="DateOfManufacture" type="xs:dateTime" minOccurs="0" />
          <xs:element name="HardwareVersion" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="FirmwareVersion" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="SoftwareVersion" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="CountryOfOrigin" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="CompanyLogo" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="Markings" type="tns:ListOfMarkingSubmodelDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NameplateSubmodelDataType" type="tns:NameplateSubmodelDataType" />

  <xs:complexType name="ListOfNameplateSubmodelDataType">
    <xs:sequence>
      <xs:element name="NameplateSubmodelDataType" type="tns:NameplateSubmodelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfNameplateSubmodelDataType" type="tns:ListOfNameplateSubmodelDataType" nillable="true"></xs:element>

  <xs:complexType name="ContactInformationSubmodelDataType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubmodelDataType">
        <xs:sequence>
          <xs:element name="Street" type="ua:LocalizedText" minOccurs="0" nillable="true" />
          <xs:element name="Zipcode" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="CityTown" type="ua:LocalizedText" minOccurs="0" nillable="true" />
          <xs:element name="NationalCode" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactInformationSubmodelDataType" type="tns:ContactInformationSubmodelDataType" />

  <xs:complexType name="ListOfContactInformationSubmodelDataType">
    <xs:sequence>
      <xs:element name="ContactInformationSubmodelDataType" type="tns:ContactInformationSubmodelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfContactInformationSubmodelDataType" type="tns:ListOfContactInformationSubmodelDataType" nillable="true"></xs:element>

  <xs:complexType name="MarkingSubmodelDataType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubmodelDataType">
        <xs:sequence>
          <xs:element name="MarkingName" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="DesignationOfCertificateOrApproval" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="IssueDate" type="xs:dateTime" minOccurs="0" />
          <xs:element name="ExpiryDate" type="xs:dateTime" minOccurs="0" />
          <xs:element name="MarkingFile" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="MarkingAdditionalText" type="ua:ListOfString" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarkingSubmodelDataType" type="tns:MarkingSubmodelDataType" />

  <xs:complexType name="ListOfMarkingSubmodelDataType">
    <xs:sequence>
      <xs:element name="MarkingSubmodelDataType" type="tns:MarkingSubmodelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfMarkingSubmodelDataType" type="tns:ListOfMarkingSubmodelDataType" nillable="true"></xs:element>

  <xs:complexType name="ProductCarbonFootprintDataType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubmodelDataType">
        <xs:sequence>
          <xs:element name="PCFCalculationMethod" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="PCFCO2eq" type="xs:double" minOccurs="0" />
          <xs:element name="PCFReferenceValueForCalculation" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="PCFQuantityOfMeasureForCalculation" type="xs:double" minOccurs="0" />
          <xs:element name="PCFLiveCyclePhase" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="PCFGoodsAddressHandover" type="tns:AddressSubmodelDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductCarbonFootprintDataType" type="tns:ProductCarbonFootprintDataType" />

  <xs:complexType name="ListOfProductCarbonFootprintDataType">
    <xs:sequence>
      <xs:element name="ProductCarbonFootprintDataType" type="tns:ProductCarbonFootprintDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfProductCarbonFootprintDataType" type="tns:ListOfProductCarbonFootprintDataType" nillable="true"></xs:element>

  <xs:complexType name="AddressSubmodelDataType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubmodelDataType">
        <xs:sequence>
          <xs:element name="Street" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="HouseNumber" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="ZipCode" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="CityTown" type="ua:LocalizedText" minOccurs="0" nillable="true" />
          <xs:element name="Country" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="Latitude" type="xs:double" minOccurs="0" />
          <xs:element name="Longitude" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressSubmodelDataType" type="tns:AddressSubmodelDataType" />

  <xs:complexType name="ListOfAddressSubmodelDataType">
    <xs:sequence>
      <xs:element name="AddressSubmodelDataType" type="tns:AddressSubmodelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfAddressSubmodelDataType" type="tns:ListOfAddressSubmodelDataType" nillable="true"></xs:element>

</xs:schema>